html {
	height: 100%;
	font-size: 16px;
	font-family: arial;
}
body {
	height: 100%;
	margin: 0;
}
#interface {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	& > header, & > footer {
		flex: 0 1 auto;
		padding: .5em 1em;
		background-color: #EEE;
		display: flex;
		justify-content: space-between;
	}
	& > header {
		order: -1000;
		h1 {
			margin: 0;
		}
	}
	& > footer {
		order: 1000;
		font-size: smaller;
	}
	& > .body {
		flex: 1 0 auto;
	}
}

#app {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

figure.polaroid {
	font-family: 'Rock Salt', cursive;
	color: darkblue;
	border: 12px solid black;
	border-image: url(../images/cadre_ondulation.svg) round;
	border-image-slice: 24;
	border-image-repeat: round;
	padding: 1em;
	figcaption {
		text-align: center;
		height: 3em;
	}
}
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

figure.vagues {
	font-family: 'Petit Formal Script', cursive;
	border: 10px solid black;
	border-image: url(../images/cadre_vagues.svg) round;
	border-image-slice: 10;
	border-image-repeat: round;
	padding: 1em;
	padding-bottom: 0;
	figcaption {
		text-align: center;
	}
}
